/*
    My projects
*/


body {
    /*position: relative;*/
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: large;
    font-size: 1em;
}

div.header {
    background-color: lightgray;
    padding-top: 2dvh;
    padding-bottom: 2dvh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /*margin-bottom: 4dvh;*/
}

h1.cn {
    text-align: center;
    width: 100dvw;
    margin-bottom: 4dvh;
}

div.sidebox {
    display: flex;
}

h3.text {
    width: 15dvw;
    flex-wrap: nowrap;
    margin-left: 1dvw;
}

div.title {
    background-color: beige;
    padding-top: 3dvh;
}

div.github-link {
    margin-left: 3.5dvw;
    margin-top: 3dvh;
}

img.image {
    margin-left: 3.5dvw;
    margin-top: 6dvh;
    width: 20dvw;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
}

img.image:hover {
    border-color: gray;
}

div.footer {
    margin-top: 4dvh;
    background-color: lightgray;
    display: flex;
    margin-left: 0;
    padding-bottom: 4dvh;
    bottom: 0;
}

div.contact {
    padding-left: 1.5dvw;
    padding-top: 1.5dvh;
    padding-bottom: 1.5dvh;
    width: 15dvw;
}

h3.footertext {
    width: 15dvw;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: nowrap;
}

div.links {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3.5dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.footerelem {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1.5dvw;
    justify-content: center;
}