/* 
    root
*/


body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: large;
    position: relative;
}

div.header {
    background-color: beige;
    padding-top: 2dvh;
    padding-bottom: 2dvh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4dvh;
}

h1.cn {
    text-align: center;
    width: 100dvw;
    margin-bottom: 4dvh;
}

h2.cb {
    text-align: center;
    color: #606060;
    width: 100dvw;
    margin-bottom: 4dvh;
}

div.buttons {
    margin-bottom: 4dvh;
}

input.ln {
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

input.ln:hover {
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: darkblue;
    cursor: pointer;
}

div.sidebox {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    padding-left: 0px;
}

p.about {
    width: 75dvw;
    padding-left: 3.5dvw;
}

div.u-lines {
    margin-top: 4dvh;
}

#dsl {
    padding-left: 3.5dvw;
    color: blue
}

#dal {
    padding-left: 3.5dvw;
    color: goldenrod
}

#bel {
    padding-left: 3.5dvw;
    color: green
}

#fel {
    padding-left: 3.5dvw;
    color: purple
}

#del {
    padding-left: 3.5dvw;
    color: red
}





div.title {
    flex-wrap: nowrap;
    background-color: beige;
}

h3.text {
    width: 15dvw;
    flex-wrap: nowrap;
    margin-left: 1dvw;
}

div.end {
    padding-bottom: 8dvh;
}

div.footer {
    background-color: darkblue;
    display: flex;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.contact {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    justify-content: center;
}

h3.footertext {
    color: white;
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    justify-content: center;
    /*align-items: center;*/
}

div.links {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.footerelem {
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    margin-right: 20px;
    /*align-items: center;*/
}